@import url("/css/style.css");
@import url("/css/blocks.css");
@import url("/css/menu.css");

@font-face {
	font-family: "Future Now";
	src: url("../fonts/Future Now.ttf") format("truetype");
}

@font-face {
	font-family: "Jura";
	src: url("../fonts/Jura.ttf") format("truetype");
}
